
/flaskblog/DockerFlask
compose-nginx-db.yml
/flaskblog/.vscode

/flaskblog/*.env
*.env

/flaskblog/log_app
/flaskblog/log
/flaskblog/*.log
*.log
/log

/flaskblog/__pycache__
__pycache__

/instance
/pg_db
/venv
.git
.idea
.vscode

.dockerignore
.gitignore
.gitattributes

Dockerfile
Makefile
