body {
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #ff6f61;
    background: linear-gradient(135deg, #ff6f61, #61dafb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::after {
    background-color: #61dafb;
}

h2 {
    color: #61dafb;
    background: linear-gradient(135deg, #61dafb, #9b59b6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2::after {
    background-color: #61dafb;
}

h3 {
    color: #9b59b6;
    background: linear-gradient(135deg, #9b59b6, #ff6f61);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3::after {
    background-color: #61dafb;
}

a {
    color: #007bff;
}



/* Главное меню */
.backcolor-header {
    background-color: #354754;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}



/* Правое меню */
.sidebar ul li a {
    color: #ae6e16;
}
  
.sidebar ul li a:hover {
    color: #007bff;
}



/* Контент и подвал */
.info_art {
    background-color: #333;
    color: #75690f;
}

/* .art_container {
    background-color: #fff;
} */

.custom_footer {
    background-color: #fff;
}




/* Подсветка кода */
.highlight {
    background-color: #f4f4f4;
    color: #d63384;
}

pre {
    background-color: #2d2d2d;
}

code {
    background-color: #2d2d2d;
    color: #f8f8f2;
}

pre code {
    color: #f8f8f2;
}
