<!DOCTYPE html>
<html>
  <head>
    {% include 'new_art/includes/_art_head.html' %}
  </head>

  <body>
    <header class="site-header">
      {% include 'new_art/includes/_art_header.html' %}
    </header>
    

    <main role="main">
      <div class="container-fluid">
        <div class="row">
          <!-- Боковое меню -->
          <div class="margin-right-sidebar col-md-2">
            <div class="padding-content sidebar">
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Раздел 1</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Раздел 2</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Раздел 3</a></li>
                <!-- Добавьте другие разделы по необходимости -->
              </ul>
            </div>
          </div>
          <!-- Основной контент -->
          <div class="padding-content col-md-10">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <footer class="custom_footer mt-align-items-center">
      {% from 'includes/_footer_macro.html' import footer_new %}
      {{ footer_new(current_user) }} 
    </footer>

    {% include 'new_art/includes/_art_scripts.html' %}
  </body>

</html>
