<div class="art_container">
    <h1>Централизованное логирование в много процессном приложении на Python</h1>
    <p>В этой статье мы рассмотрим, как настроить логирование в приложении на Python с
        использованием модулей <code>logging</code> и <code>multiprocessing</code>.</p>
    <h2>Зачем нужно централизованное логирование?</h2>
    <h3>Настройка слушателя для очереди логов</h3>
    <pre><code class="language-python">
import logging.handlers
from multiprocessing import Queue

def setup_listener(name_file="log\\worker_log.log"):
    """
    :param name_file: Путь к файлу, в который будут записываться логи (по умолчанию name_log_file).
    """
    # Создаем очередь для передачи сообщений между процессами
    log_queue = Queue()

    # Запускаем слушателя
    listener.start()

    return log_queue, listener
    </code></pre>
</div>
